<!DOCTYPE html> <script language=""="text/JavaScript" src="//localhost/cc409/perrosygatos/view/js/ajax.js">		</script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BuscarUsuarios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="//localhost/cc409/perrosygatos/view/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 150px;
        padding-bottom: 40px;
       background-image:url('//localhost/cc409/perrosygatos/view/fondo.jpg');
       color: black;
      }


p{color:black;}

    </style>
    <link href="//localhost/cc409/perrosygatos/view/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//localhost/cc409/perrosygatos/view/../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//localhost/cc409/perrosygatos/view/../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//localhost/cc409/perrosygatos/view/../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//localhost/cc409/perrosygatos/view/../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="//localhost/cc409/perrosygatos/view/../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="//localhost/cc409/perrosygatos/view/../assets/ico/favicon.png">
  </head>

  <body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="="http://es.wikipedia.org/wiki/Animal_de_compa%C3%B1%C3%ADa">Mascota</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Se autentifico como: <a href="//localhost/cc409/perrosygatos/view/#" class="navbar-link">{Username}</a>
            </p>
            <ul class="nav">
              <li><a href="//localhost/cc409/perrosygatos/index.php">Pagina Principal</a></li>
              <li class="active"><a href="//localhost/cc409/perrosygatos/index.php?accion=log">Login</a></li>
              <li><a href="//localhost/cc409/perrosygatos/index.php?accion=usuario">Registrarse</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

       <center>
       <form>

    <p>  
 <input type="text" class="input-medium search-query">
  <button type="submit" class="btn btn-inverse">Buscar Usuario</button>
</p>
</form>
</center>


    </div> <!-- /container -->

	
	<div class="navbar navbar-inverse navbar-fixed-bottom" id="navegacion" >
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="nav-collapse collapse">
            <ul class="nav" id="lista">
              <li class="active"><a href="//localhost/cc409/perrosygatos/index.php?accion=articulo">Productos</a></li>
              <li><a href="//localhost/cc409/perrosygatos/index.php?accion=cita">Citas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/jquery.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-transition.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-alert.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-modal.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-dropdown.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-scrollspy.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-tab.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-tooltip.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-popover.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-button.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-collapse.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-carousel.js"></script>
    <script src="//localhost/cc409/perrosygatos/view/../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
