<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BuscarCitas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="view/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
          body {
        padding-top: 150px;
        padding-bottom: 40px;
       background-image:url('view/fondo.jpg');
       color: black;
      }

.table-hover{border-left-width: 3px ; border-left-style: solid;
border-top-width: 3px ; border-top-style: solid;
border-right-width: 3px ; border-right-style: solid;border-bottom-style: solid;}
	  
      }

p{color:black;}

td
{
width: 5%;
text-align:center;
}


    </style>
    <link href="view/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="view/../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="view/../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="view/../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="view/../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="view/../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="view/../assets/ico/favicon.png">
  </head>

  <body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="="http://es.wikipedia.org/wiki/Animal_de_compa%C3%B1%C3%ADa">Mascota</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Se autentifico como: <a href="view/#" class="navbar-link">{Username}</a>
            </p>
            <ul class="nav">
              <li><a href="index.php">Pagina Principal</a></li>
              <li class="active"><a href="index.php?accion=log">Login</a></li>
              <li><a href="index.php?accion=usuario">Registrarse</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    
    <center>
      <form>

    <p>  
 <input type="text" class="input-medium search-query">
  <button  type="button"class="btn btn-inverse"  onClick="productos();">Buscar Cita</button>
</p>
<table id="jtable" name="jtable">		</table>


</form>
</center>




    </div> <!-- /container -->

	<div class="navbar navbar-inverse navbar-fixed-bottom" id="navegacion" >
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="nav-collapse collapse">
            <ul class="nav" id="lista">
              <li class="active"><a href="index.php?accion=articulo">Productos</a></li>
              <li><a href="index.php?accion=cita">Citas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	
	<script language=""="text/JavaScript" >
	
		function productos(){
			//crear objeto xmlhttprequest
			var ajax= new nuevoAjax();
			//abrir comunicacion asicfonz
			ajax.open("get","index.php?accion=cita&hacer=listar",true);
			//obtener resultado
			ajax.onreadystatechange = function (){
				if(ajax.readyState == 4){
						//procesar resultado como JSON
						$('.table-hover').remove();
						
							var data = ajax.responseText;
							data = JSON.parse(data);
							//console.log(data);
							 data = crearTabla(data,null, true);
							$('form').append(data);
							//console.log(data);
						
							
				}
			}
				//
				ajax.send(null);
				//pedir al listar servicios.php default select (servicios) from sercicios		
		
		}
		
	


	
	</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script language=""="text/JavaScript" src="view/js/ajax.js">		</script>
	<script language=""="text/JavaScript" src="view/js/jasontable.js">		</script>
  </body>
</html>
