
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#f5d500" style="background-color:#f5d500;"><br>
    <br>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="top" bgcolor="#fedd02" style="background-color:#fedd02; padding:6px;"><table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
          <tr>
         
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="5" style="margin-bottom:20px;">

          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
            <tr>
              <td align="left" valign="top" style="color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:38px;">Bienvenido a mascota amigos</td>
              </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
            <tr>
              <td align="center" valign="top"><img src="images/divider1.png" width="587" height="6" style="display:block;"></td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" bgcolor="#fedd02" style="background-color:#fedd02; padding:6px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>

            <td align="left" valign="top"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="7" style="margin-bottom:10px;">
              <tr>
                <td width="100%" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:13px;">
                <div style="font-size:22px;">Este es el correo con el que registrado su cuenta, muchas gracias</div>
<div><br>
Agradecemos su preferencia cualquier duda puede responder a este correo  <br>
  <br>
</div></td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
                <tr>
                  <td align="center" valign="top"><img src="images/right_divider.png" width="374" height="10" style="display:block;"></td>
                </tr>
              </table>


            
          </tr>
        </table></td>
      </tr>
    </table>
    <br>
    <br></td>
  </tr>
</table>

