<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Veterinaria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- los estilos -->
    <link href="//localhost/veterinaria/view/css/bootstrap.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-image:url('//localhost/veterinaria/view/fondo.jpg');
        color: black;
      }

      .sidebar-nav {
        padding: 5px 0;
      }   

 
           @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }


      }
    </style>
    <link href="//localhost/veterinaria/view/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href=" ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href=" ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href=" ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href=" ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href=" ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://es.wikipedia.org/wiki/Animal_de_compa%C3%B1%C3%ADa">Mascota</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Se autentifico como: <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="Index.html">Pagina Principal</a></li>
              <li><a href="Login.html">Login</a></li>
              <li><a href="Registro.html">Registrarse</a></li>
              <li class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Buscar</button>

</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Articulos</li>
             <li><a href="#">Accesorios</a></li>
              <li><a href="#">Mascotas</a></li>
            </br>
            </br>
            </br>
            </br>
            <li class="nav-header">Menu</li>
             <li><a href="#">Consultas</a></li>
             </br>
            </br>
            </br>
            </br>
            <li><a href="#">Salir</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
          <div class="hero-unit">
            <h1>Bienvenido a la tienda en linea de Mascota</h1>
            <p><img src="//localhost/veterinaria/view/images.jpg" class="img-polaroid">
            <img src="//localhost/veterinaria/view/images.jpg" class="img-polaroid"></p>
          </div>
            <h3>Aqui encontraras una gran variedad de productos para tus diferentes tipos de mascotas. Entre los cuales hay comida, accesorios, productos de limpieza, etc.</h3>
            </br>
            <p><a class="btn btn-info" href="#">Leer Mas &raquo;</a></p>
            </br>
            </br>
             <h3>Si te falta una mascota, aqui puedes encontrar a tu mascota ideal entre nuestra gran vatiedad de tipod de mascotas. Si no te interesa un perro o un gato, siendo lo mas comun entra aqui y podras ver los diferentes tipos que tenemos para ti.</h3>
             </br>
              <p><a class="btn btn-info" href="#">Seguir leyendo &raquo;</a></p>
            </div><!--/span-->
      <hr>

      <footer>
        <p>&copy; Mascota</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>
