<!DOCTYPE html> <script language=""="text/JavaScript" src="view/js/ajax.js">		</script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Veterinaria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="view/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-image:url('view/fondo.jpg');
        color: black;


      }

      .sidebar-nav {
        padding: 5px 0;
      }   

 
           @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }


      }
    </style>
    <link href="view/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="view/../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="view/../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="view/../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="view/../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="view/../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://es.wikipedia.org/wiki/Animal_de_compa%C3%B1%C3%ADa">Mascota</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Se autentifico como: <a href="view/#" class="navbar-link">{Username}</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="index.php">Pagina Principal</a></li>
              <li><a href="index.php?accion=log">Login</a></li>
              <li><a href="index.php?accion=usuario">Registrarse</a></li>
			   
              <li class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Buscar</button>

</li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        

        <div class="span9">
          <div class="hero-unit">
            <h1>Bienvenido a la tienda en linea de Mascota</h1>
            <p><img src="view/images.jpg" class="img-polaroid">
            <img src="view/images.jpg" class="img-polaroid"></p>
          </div>
            <h3>Aqui encontraras una gran variedad de productos para tus diferentes tipos de mascotas. Entre los cuales hay comida, accesorios, productos de limpieza, etc.</h3>
            </br>
            <p><a class="btn btn-info" href="view/#">Leer Mas &raquo;</a></p>
            </br>
            </br>
             <h3>Si te falta una mascota, aqui puedes encontrar a tu mascota ideal entre nuestra gran vatiedad de tipod de mascotas. Si no te interesa un perro o un gato, siendo lo mas comun entra aqui y podras ver los diferentes tipos que tenemos para ti.</h3>
             </br>
              <p><a class="btn btn-info" href="view/#">Seguir leyendo &raquo;</a></p>
              <footer>
        <p>&copy; Mascota</p>
      </footer>
            </div><!--/span-->
      <hr>

      

    </div><!--/.fluid-container-->

	<div class="navbar navbar-inverse navbar-fixed-bottom" id="navegacion" >
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="nav-collapse collapse">
            <ul class="nav" id="lista">
              <li class="active"><a href="index.php?accion=articulo">Productos</a></li>
              <li><a href="index.php?accion=cita">Citas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	
	
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
	
	
	
    <script src="view/../assets/js/jquery.js"></script>
    <script src="view/../assets/js/bootstrap-transition.js"></script>
    <script src="view/../assets/js/bootstrap-alert.js"></script>
    <script src="view/../assets/js/bootstrap-modal.js"></script>
    <script src="view/../assets/js/bootstrap-dropdown.js"></script>
    <script src="view/../assets/js/bootstrap-scrollspy.js"></script>
    <script src="view/../assets/js/bootstrap-tab.js"></script>
    <script src="view/../assets/js/bootstrap-tooltip.js"></script>
    <script src="view/../assets/js/bootstrap-popover.js"></script>
    <script src="view/../assets/js/bootstrap-button.js"></script>
    <script src="view/../assets/js/bootstrap-collapse.js"></script>
    <script src="view/../assets/js/bootstrap-carousel.js"></script>
    <script src="view/../assets/js/bootstrap-typeahead.js"></script>-->

  </body>
</html>
