<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Perfil Admin</title>
  <link rel="stylesheet" type="text/css" href="view/css/bootstrap.css"/>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="view/js/bootstrap.js"></script>

  <style type="text/css">
      body {
        padding-top: 150px;
        padding-bottom: 40px;
       background-image:url('view/fondo.png');
       color: black;
      }
      .table-hover{border-left-width: 3px ; border-left-style: solid;
border-top-width: 3px ; border-top-style: solid;
border-right-width: 3px ; border-right-style: solid;}

th{border-bottom-width: 3px ; border-bottom-style: solid;
}
     td{border-bottom-width: 3px ; border-bottom-style: solid;}
	 	 td
{

text-align:center;
}

table {
    margin-left:auto; 
    margin-right:auto;
  }
	 
      </style>
</head>
<body onload="carga();">
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="brand"><img src="view/mascota.jpg" width="40" height="40"  border="3"</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Se autentifico como: <a href="index.php?accion=usuario&hacer=perfil" class="navbar-link">{Username}</a>
            </p>
            <ul class="nav">
              <li><a href="index.php">Pagina Principal</a></li>
              <li><a href="index.php?accion=log">Login</a></li>
              <li class="active"><a href="index.php?accion=usuario">Registro</a></li>
			   <li class="active"><a href="index.php?accion=articulo">Productos</a></li>
              <li><a href="index.php?accion=cita">Citas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<center>
   
     <div class="container">

      <form class="form-signin" action="index.php" method="GET">
  <button type="button" class="btn btn-inverse" onClick="productos();">Agregar Articulos</button>
 </br>
  </br>
   <button type="button" class="btn btn-inverse" onClick="productos();">Agregar Servicios</button>
</br>
</div>

	
</form>
</center>
  

		<div class="container">
   
	<form name="form" id="form" class="form">
		
	</form>
		<footer>
			<p>&copy; Mascota</p>
		  </footer>
	
	</div>

	  
	  <script  src="view/js/ajax.js">		</script>
	 <script  >
			
	 
			function carga(){
				var ajax= new nuevoAjax();
				var form=document.getElementById('form');
				ajax.open("get","index.php?accion=pedido&hacer=listar",true);
				ajax.onreadystatechange = function (){
					if(ajax.readyState == 4){						
								var data=ajax.responseText;
								console.log(data);
								 data="["+data.substring(data.search("{"));
								
								data = JSON.parse(data);
								data = crearCitas(data);
								
								$('form').append(data);
					}
				}
				
			ajax.send(null);

			}
			
			
			function crearCitas(objArray) {
 
    // If the returned data is an object do nothing, else try to parse
				var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
 
				var str = '</br><table class="table-hover" id="jtable" name="jtable">';
 
    // table head
        str += '<thead><tr>';
        for (var index in array[0]) {
            str += '<th scope="col">' + index + '</th>';
        }
        str += '</tr></thead>';
    
 
    // table body
    str += '<tbody>';
    for (var i = 0; i < array.length; i++) {
        str += (i % 2 == 0) ? '<tr class="alt">' : '<tr>';
		var id=0;
        for (var index in array[i]) {
			if(id==0)
				str += "<td><a href='index.php?accion=pedido&hacer=actualizar&idReservacion=" +array[i][index]+"'>"+ array[i][index] + '</a></td>';
			else
				str += '<td>' + array[i][index] + '</td>';
				id++;
        }
        str += '</tr>';
    }
    str += '</tbody>'
    str += '</table></br>';
    return str;
}
		
	 </script>
	  
</body>
</html>
