<!DOCTYPE html>

<html lang="en">
<head>
	<title>Principal</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>

	<style type="text/css">
      body {
        padding-top: 150px;
        padding-bottom: 40px;
       background-image:url('fondo.jpg');
       color: black;
      }
      </style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://es.wikipedia.org/wiki/Animal_de_compa%C3%B1%C3%ADa">Mascota</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Se autentifico como: <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="Index.html">Pagina Principal</a></li>
              <li><a href="Login.html">Login</a></li>
              <li class="active"><a href="Registro.html">Registrarse</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Informacion</li>
             <li><a href="#">Perfil</a></li>
              <li><a href="#">Busquedas</a></li>
             <li><a href="#">Salir</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
	
	<div class="navbar navbar-inverse navbar-fixed-bottom" id="navegacion" >
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="nav-collapse collapse">
            <ul class="nav" id="lista">
              <li class="active"><a href="Index.html">Productos</a></li>
              <li><a href="Login.html">Registrar Cita</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	

</body>
</html>
