<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RegistroCita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="view/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 150px;
        padding-bottom: 40px;
       background-image:url('view/fondo.jpg');
       color: black;
      }

      .form-signin {
        max-width: 350px;
        padding: 19px 29px 29px;
        margin: 0 auto 60px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 15px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 20px;
        padding: 7px 9px;
      }

p{color:black;}

    </style>
    <link href="view/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="view/../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="view/../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="view/../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="view/../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="view/../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="view/../assets/ico/favicon.png">
  </head>

  <body onload="carga();">
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="="http://es.wikipedia.org/wiki/Animal_de_compa%C3%B1%C3%ADa">Mascota</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Se autentifico como: <a href="index.php?accion=usuario&hacer=perfil" class="navbar-link">{Username}</a>
            </p>
            <ul class="nav">
              <li><a href="index.php">Pagina Principal</a></li>
              <li class="active"><a href="index.php?accion=log">Login</a></li>
              <li><a href="index.php?accion=usuario">Registro</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

 <div class="container">

      <form class="form-signin" name="form" id="form">
        <h2 class="form-signin-heading">Registrar Cita</h2>
		<input type="hidden" id="accion" name="accion" value="cita">
		<input type="hidden" id="hacer" name="hacer" value="agregarCita">
		
        <label for="nombre">Detalles</label>
         <input type="text" id="detalles" name="detalles" Required class="input-block-level">
        <Select name="opccion" id="opccion"> <option value="0"> Elige un Servicio</option>	</select>
  
         
       </br>
        <button type="button" class="btn btn-large btn-primary" onClick="enviar();" >Guardar</button>
      </form>


<div class="container">
    <div class="row">
      <div class="span12">

        
        <div class="navbar-inverse navbar-fixed-bottom">
          <div class="navbar-inner">
            <div class="container-fluid">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>


    </div> <!-- /container -->

	<div class="navbar navbar-inverse navbar-fixed-bottom" id="navegacion" >
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="nav-collapse collapse">
            <ul class="nav" id="lista">
              <li><a href="index.php?accion=articulo">Productos</a></li>
              <li class="active"><a href="index.php?accion=cita">Citas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	

  </body>

	 <script language=""="text/JavaScript" >
			function enviar(){
				if(document.form.opccion.value!=0){
								if(document.form.detalles.value.length>3){
									document.form.submit();
									return true;}
								else
									document.getElementById("detalles").focus();
				}else
					document.getElementById("opccion").focus();
		
		
				return false;	
			}

function nuevoAjax(){
	var xmlhttp=false;
	try{
		//creacion del ajax para navegadores no IE
		xmlhttp=new ActiveXObject("Msxl2.XMLHTTP");
	}
	catch (e){
		try{
			//creacion ajax para IE 
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		catch (e){
			if(!xmlhttp && typeof XMLHttpRequest!='undefined')
			xmlhttp=new XMLHttpRequest();
		}
	}
	return xmlhttp;
}
	 
			function carga(){
				var ajax= new nuevoAjax();
				ajax.open("get","index.php?accion=servicio",true);
				
				ajax.onreadystatechange = function (){
					
					if(ajax.readyState == 4){
							var variable = ajax.responseText;
							var data="["+variable.substring(variable.search("{"));	
							variable =eval(data);						

							for(categorias in variable){
								//crear elemento opcion
								var option = document.createElement('option');
								////crear texto del elemnto
								var texto = document.createTextNode(variable[categorias].descripcion);
								//agregar texto al elemnto
								option.appendChild(texto);
								//agregar atributos
								option.setAttribute('value',variable[categorias].id);
								//agregar nodo al select
								var form = document.getElementById('opccion');
								form.appendChild(option);
								
							}
					}
				}
				//
				ajax.send(null);
			}
	 </script>
</html>
